In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
#import seaborn as sns
import os

In [2]:
data = pd.read_csv("C:/Users/r2com/Documents/GitHub/ml_project/widsdatathon2022/train.csv")
new_data = pd.read_csv('C:/Users/r2com/Documents/GitHub/ml_project/widsdatathon2022/5개한번에_data_encoded.csv')
test = pd.read_csv('C:/Users/r2com/Documents/GitHub/ml_project/widsdatathon2022/test.csv')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75757 entries, 0 to 75756
Data columns (total 64 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Year_Factor                75757 non-null  int64
 1   State_Factor               75757 non-null  object
 2   building_class             75757 non-null  object
 3   facility_type              75757 non-null  object
 4   floor_area                 75757 non-null  float64
 5   year_built                 73920 non-null  float64
 6   energy_star_rating         49048 non-null  float64
 7   ELEVATION                  75757 non-null  float64
 8   january_min_temp           75757 non-null  int64
 9   january_avg_temp           75757 non-null  float64
 10  january_max_temp           75757 non-null  int64
 11  february_min_temp          75757 non-null  int64
 12  february_avg_temp          75757 non-null  float64
 13  february_max_temp          75757 non-null  int64
 14  march_min_temp             75757 non-null  int64
 15  march_avg_temp             75757 non-null  float64
 16  march_max_temp             75757 non-null  int64
 17  april_min_temp             75757 non-null  int64
 18  april_avg_temp             75757 non-null  float64
 19  april_max_temp             75757 non-null  int64
 20  may_min_temp               75757 non-null  int64
 21  may_avg_temp               75757 non-null  float64
 22  may_max_temp               75757 non-null  int64
 23  june_min_temp              75757 non-null  int64
 24  june_avg_temp              75757 non-null  float64
 25  june_max_temp              75757 non-null  int64
 26  july_min_temp              75757 non-null  int64
 27  july_avg_temp              75757 non-null  float64
 28  july_max_temp              75757 non-null  int64
 29  august_min_temp            75757 non-null  int64
 30  august_avg_temp            75757 non-null  float64
 31  august_max_temp            75757 non-null  int64
 32  september_min_temp         75757 non-null  int64
 33  september_avg_temp         75757 non-null  float64
 34  september_max_temp         75757 non-null  int64
 35  october_min_temp           75757 non-null  int64
 36  october_avg_temp           75757 non-null  float64
 37  october_max_temp           75757 non-null  int64
 38  november_min_temp          75757 non-null  int64
 39  november_avg_temp          75757 non-null  float64
 40  november_max_temp          75757 non-null  int64
 41  december_min_temp          75757 non-null  int64
 42  december_avg_temp          75757 non-null  float64
 43  december_max_temp          75757 non-null  int64
 44  cooling_degree_days        75757 non-null  int64
 45  heating_degree_days        75757 non-null  int64
 46  precipitation_inches       75757 non-null  float64
 47  snowfall_inches            75757 non-null  float64
 48  snowdepth_inches           75757 non-null  int64
 49  avg_temp                   75757 non-null  float64
 50  days_below_30F             75757 non-null  int64
 51  days_below_20F             75757 non-null  int64
 52  days_below_10F             75757 non-null  int64
 53  days_below_0F              75757 non-null  int64
 54  days_above_80F             75757 non-null  int64
 55  days_above_90F             75757 non-null  int64
 56  days_above_100F            75757 non-null  int64
 57  days_above_110F            75757 non-null  int64
 58  direction_max_wind_speed   34675 non-null  float64
 59  direction_peak_wind_speed  33946 non-null  float64
 60  max_wind_speed             34675 non-null  float64
 61  days_with_fog              29961 non-null  float64
 62  site_eui                   75757 non-null  float64
 63  id                         75757 non-null  int64
dtypes: float64(24), int64(37), object(3)
memory usage: 37.0+ MB

In [4]:
data.head()

,Year_Factor,State_Factor,building_class,facility_type,floor_area,year_built,energy_star_rating,ELEVATION,january_min_temp,january_avg_temp,...,days_above_80F,days_above_90F,days_above_100F,days_above_110F,direction_max_wind_speed,direction_peak_wind_speed,max_wind_speed,days_with_fog,site_eui,id
0,1,State_1,Commercial,Grocery_store_or_food_market,61242.0,1942.0,11.0,2.4,36,50.5,...,14,0,0,0,1.0,1.0,1.0,NaN,248.682615,0
1,1,State_1,Commercial,Warehouse_Distribution_or_Shipping_center,274000.0,1955.0,45.0,1.8,36,50.5,...,14,0,0,0,1.0,NaN,1.0,12.0,26.500150,1
2,1,State_1,Commercial,Retail_Enclosed_mall,280025.0,1951.0,97.0,1.8,36,50.5,...,14,0,0,0,1.0,NaN,1.0,12.0,24.693619,2
3,1,State_1,Commercial,Education_Other_classroom,55325.0,1980.0,46.0,1.8,36,50.5,...,14,0,0,0,1.0,NaN,1.0,12.0,48.406926,3
4,1,State_1,Commercial,Warehouse_Nonrefrigerated,66000.0,1985.0,100.0,2.4,36,50.5,...,14,0,0,0,1.0,1.0,1.0,NaN,3.899395,4

In [5]:
# 'year_built' 열이 0인 행 제거
data = data[data['year_built'] != 0]

# 'year_built' 열이 NaN인 행 제거
data = data.dropna(subset=['year_built'])

data = data.drop('id', axis=1)

In [6]:
#숫자형 변수 결측치 평균값으로 대체
for col in data.columns:
    if pd.api.types.is_numeric_dtype(data[col]):
        data[col] = data[col].fillna(data[col].mean())

In [7]:
#범주형 변수 결측치 평균값으로 대체
for col in data.columns:
    if pd.api.types.is_string_dtype(data[col]):
        data[col] = data[col].fillna(data[col].mode()[0])

In [8]:
sum(data.isnull().sum())

0

In [68]:
# 'energy_star_rating'과 'Year_Factor' 열을 카테고리형으로 변환
data['energy_star_rating'] = data['energy_star_rating'].astype('object')
data['Year_Factor'] = data['Year_Factor'].astype('object')

In [9]:
# 인덱스 초기화
data = data.reset_index(drop=True)

In [10]:
data

,Year_Factor,State_Factor,building_class,facility_type,floor_area,year_built,energy_star_rating,ELEVATION,january_min_temp,january_avg_temp,...,days_below_0F,days_above_80F,days_above_90F,days_above_100F,days_above_110F,direction_max_wind_speed,direction_peak_wind_speed,max_wind_speed,days_with_fog,site_eui
0,1,State_1,Commercial,Grocery_store_or_food_market,61242.0,1942.0,11.000000,2.4,36,50.500000,...,0,14,0,0,0,1.000000,1.000000,1.00000,109.83843,248.682615
1,1,State_1,Commercial,Warehouse_Distribution_or_Shipping_center,274000.0,1955.0,45.000000,1.8,36,50.500000,...,0,14,0,0,0,1.000000,63.804378,1.00000,12.00000,26.500150
2,1,State_1,Commercial,Retail_Enclosed_mall,280025.0,1951.0,97.000000,1.8,36,50.500000,...,0,14,0,0,0,1.000000,63.804378,1.00000,12.00000,24.693619
3,1,State_1,Commercial,Education_Other_classroom,55325.0,1980.0,46.000000,1.8,36,50.500000,...,0,14,0,0,0,1.000000,63.804378,1.00000,12.00000,48.406926
4,1,State_1,Commercial,Warehouse_Nonrefrigerated,66000.0,1985.0,100.000000,2.4,36,50.500000,...,0,14,0,0,0,1.000000,1.000000,1.00000,109.83843,3.899395
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73909,6,State_11,Commercial,Office_Uncategorized,20410.0,1995.0,8.000000,36.6,28,43.451613,...,0,25,3,0,0,67.557053,63.804378,4.24042,109.83843,132.918411
73910,6,State_11,Residential,5plus_Unit_Building,40489.0,1910.0,98.000000,36.6,28,43.451613,...,0,25,3,0,0,67.557053,63.804378,4.24042,109.83843,39.483672
73911,6,State_11,Commercial,Commercial_Other,28072.0,1917.0,61.042445,36.6,26,36.612903,...,0,6,0,0,0,67.557053,63.804378,4.24042,109.83843,48.404398
73912,6,State_11,Commercial,Commercial_Other,53575.0,2012.0,61.042445,36.6,26,36.612903,...,0,6,0,0,0,67.557053,63.804378,4.24042,109.83843,592.022750
73913,6,State_11,Residential,2to4_Unit_Building,23888.0,1974.0,51.000000,36.6,27,36.935484,...,0,16,0,0,0,67.557053,63.804378,4.24042,109.83843,29.154684

In [14]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from lightgbm import LGBMRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.preprocessing import OneHotEncoder
from xgboost import XGBRegressor
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score, GridSearchCV, train_test_split

import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score, train_test_split

target = "site_eui"

y = data[data[target].notna()][target]
X = data[data[target].notna()].drop(target, axis = 1)

# 카테고리형 열과 수치형 열 분리
num_columns = X.select_dtypes(include=['int64', 'float64']).columns
cat_columns = X.select_dtypes(include=['object', 'category']).columns

# 데이터를 훈련 세트와 테스트 세트로 분할
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# 수치형 열 스케일링 적용
scaler = MinMaxScaler()
X_train_num = pd.DataFrame(scaler.fit_transform(X_train[num_columns]), columns=num_columns)
X_test_num = pd.DataFrame(scaler.transform(X_test[num_columns]), columns=num_columns)

# 범주형 열 원-핫 인코딩 적용
ohe = OneHotEncoder(handle_unknown='ignore')
ohe.fit(X[cat_columns])

X_train_cat = pd.DataFrame(ohe.transform(X_train[cat_columns]).toarray(), columns=ohe.get_feature_names_out(cat_columns))
X_test_cat = pd.DataFrame(ohe.transform(X_test[cat_columns]).toarray(), columns=ohe.get_feature_names_out(cat_columns))

# 스케일링된 수치형 열과 인코딩된 범주형 열 합치기
X_train_processed = pd.concat([X_train_num, X_train_cat], axis=1)
X_test_processed = pd.concat([X_test_num, X_test_cat], axis=1)


models = [('KNN', KNeighborsRegressor()),
('CART', DecisionTreeRegressor(random_state = 42)),
('RF', RandomForestRegressor(random_state = 42)),
('GBM', GradientBoostingRegressor(random_state = 42)),
("XGBoost", XGBRegressor(eval_metric= "rmse", objective = 'reg:squarederror', random_state=42)),
("LightGBM", LGBMRegressor(metric= "rmse", objective='regression', random_state = 42))]

for name, regressor in models:
    rmse = np.mean(np.sqrt(-cross_val_score(regressor, X_train_processed, y_train, cv = 5, scoring = "neg_mean_squared_error")))
    print(f"RMSE: {round(rmse, 4)} ({name}) ")

RMSE: 58.8945 (KNN)
RMSE: 54.8143 (CART)
RMSE: 40.937 (RF)
RMSE: 44.847 (GBM)
RMSE: 41.1624 (XGBoost)
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.005397 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 2323
[LightGBM] [Info] Number of data points in the train set: 47304, number of used features: 118
[LightGBM] [Info] Start training from score 82.708052
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.005058 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 2334
[LightGBM] [Info] Number of data points in the train set: 47305, number of used features: 117
[LightGBM] [Info] Start training from score 82.811564
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.005363 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 2344
[LightGBM] [Info] Number of data points in the train set: 47305, number of used features: 118
[LightGBM] [Info] Start training from score 82.880902
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.005511 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 2319
[LightGBM] [Info] Number of data points in the train set: 47305, number of used features: 117
[LightGBM] [Info] Start training from score 82.854617
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.005477 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 2328
[LightGBM] [Info] Number of data points in the train set: 47305, number of used features: 117
[LightGBM] [Info] Start training from score 82.925015
RMSE: 42.9551 (LightGBM)

In [ ]:
import pandas as pd

# models 리스트에서 RandomForestRegressor 객체 찾기
rf_model = None
for model_name, model_obj in models:
    if model_name == 'RF':
        rf_model = model_obj
        break

# 해당 모델이 없을 경우 에러 메시지 출력
if rf_model is None:
    print("RF model not found in the models list.")
else:
    # 테스트 데이터셋에 대해 예측 수행
    predictions = rf_model.predict(test)

    # 예측 결과를 DataFrame으로 변환
    pred_df = pd.DataFrame(predictions, columns=['Prediction'])

    # DataFrame을 CSV 파일로 저장
    pred_df.to_csv('predictions.csv', index=False)